  main {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 8fr;
      justify-content: center;
      background-color: #f9f9f9;
      gap: 12px;

  }

  /* .item{
    /* gap: 12px; */

  .libhead{
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-column: 1/3;
  }

  .library-main{
    width: 100%;
    background-color: aquamarine;
  }

  .library-nav {
    width: 100%;
      background-color: red;
  }

  /* footer {
      background-color: #f0f0f0;
      padding: 10px;
  } */

  /* Add your custom styles for buttons and other elements here */